<%= notice %>
<table border="1" align="center">
 <tr>
    <td>
	   <br>Folio</br>
	</td>
	<td>
	   <br>Titulo </br>
	<td>
	   <br>Autor</br>
	</td>
	<td>
	   <br>Descripcion</br>
	</td>
	<td>
	   <br>Genero</br>
	</td>
	<td>
	   <br>Editorial</br>
	</td>
	<td>
	   <br>status</br>
	</td>
	<td>
	   <br>Usuario</br>
    </td>
    <td>
       <br>Ubicacion</br>
    </td>
    
 </tr>
  <tr>
    <td>
	   <h1><%= @productos.folio%></h1>
	</td>
	<td>
	   <br><%= @productos.titulo %></br>
	<td>
	   <br><%= @productos.autor %></br>
	</td>
	<td>
	   <br><%= @productos.descripcion %></br>
	</td>
	<td>
	   <br><%= @productos.genero %></br>
	</td>
	<td>
	   <br><%= @productos.editorial %></br>
	</td>
	<td>
	   <br><%= @productos.status %></br>
	</td>
	<td>
	   <br><%= @productos.usuario %></br>
    </td>
    <td>
       <br><%= @productos.ubicacion %></br>
    </td>
    </tr>
</table>